$ git config user.name "Nobuyoshi Kurosawa"
$ git config user.email grandcross@grandcross.red

# Build and Release first file of script
$ git init
$ git add "https://www.grand-cross.com/198229/amiplus1.js #javascript file for audio"
$ git add -m "audio src is trance in addEventListener is create function"
 

# second file
$ git init
$ git add "https://www.grand-cross.com/198229/audio1.js #javascript file for audio"
$ git add -m "the touch event is done and bring for load event"

# third file
$ git init
$ git add "https://www.grand-cross.com/198229/audio2.js #javascript file for audio"
$ git add -m "the touch event is done too"

# 4th file
$ git init
$ git add "https://www.grand-cross.com/198229/audio3.js #javascript file for audio"
$ git add -m "the touch event is done too"

# Executwww.grand-cross.com/wwables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Buildeaddr.
