$ git config user.name "Nobuyoshi Kurosawa"
$ git config user.email grandcross@grandcross.red

# Build and Release first file of script
$ git init
$ git add "https://www.grand-cross.com/amiplus1.js" #javascript file for audio
$ git add -m "audio src is trance in addEventListener is create function"
 
# second file
$ git init
$ git add "https://www.grand-cross.com/audio1.js" #javascript file for audio
$ git add -m "the first touch event is done and bring for load event"

# third file
$ git init
$ git add "https://www.grand-cross.com/audio2.js" #javascript file for audio
$ git add -m "the second touch event is done too"

# 4th file
$ git init
$ git add "https://www.grand-cross.com/audio3.js" #javascript file for audio
$ git add -m "the third touch event is done too"

# 5th file
$ git init
$ git add "https;//www.grand-cross.com/audio4.js" #javascript file for audio
$ git add -m "the 4th touch event is done"

# 6th file
$ git init
$ git add "https://www.grand-cross.com/audio5.js" #javascript file for audio

# Executwww.grand-cross.com/wwables
*.js
*.html
*.css
*.MP3
*.jpg
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Buildeaddr.
